body {
    background-color: #FFE5CC;
    margin: 0pt;
}

.menu {
    margin: 0pt;
}

.menu tr {
    border-color: #000000;
    border: 0;
}

.menu h1 {
    color: #663300;
    font-family: comic sans;
    font-weight: 400;
    text-align: center;
    margin: 0pt;
}

.menu h2 {
    text-align: left;
    font-family: comic sans;
    font-weight: medium;
    margin: 0pt;
}

.menu a {
    color: #7C5043;
    font-family: roboto, comic sans;
    font-size: 2pt;
    font-weight: 100;
    text-decoration: none;
    margin: 0pt;
}

h1 {
    color: #663300;
    font-family: roboto, comic sans;
    text-align: center;
    margin: -2pt;
}

h2 {
    color: #FFCCCC;
    font-family: roboto, comic sans;
    font-size: 70%;
    font-weight: 100;
    text-align: center;
    margin: 0pt;
}

h3 {
    color: #000000;
    font-family: roboto, comic sans;
    font-weight: 100;
    text-align: center;
    margin-bottom: -4pt;
}

h4 {
    color: #442200;
    font-family: roboto, comic sans;
    text-align: right;
    margin-right: 20pt;
}

p {
    color: #000000;
    font-family: roboto, comic sans;
    font-weight: 100;
    font-size: 8pt;
    text-align: justify;
    margin: 0pt;
}

.info {
    color: #000000;
    font-family: roboto, comic sans;
    font-size: 8pt;
    text-align: justify;
    border-style: solid;
    border-color: #000000;
    border-width: 2pt;
    border: 2;
}

.info h2 {
    color: #663300;
    font-family: roboto, comic sans;
    font-weight: 100;
    text-align: center;
    margin: 0pt;
}

.info h3 {
    color: #442200;
    font-family: roboto, comic sans;
    font-weight: 100;
    text-align: left;
    margin: 0pt;
}

.info a {
    color: #774400;
    font-family: roboto, comic sans;
    font-weight: 100;
    text-align: left;
    text-decoration: none;
    margin: 0pt;
}